.table-container {
    margin: 0px 10px;
    border-radius: 8px;
    border-color: #666;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
}

.mat-column-pic {
    width: 100px;
}

.mat-column-actions {
    width: 80px;
}